body {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
    background-color: #1f1f1f;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(207, 206, 206);
}

section {
    border: 5px solid yellowgreen;
    padding: 1%;
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1f1f1f;
    color: yellowgreen;
    text-align: center;
    font-size: 15px;
    max-height: 100%
}

#title {
     margin-left: auto;
     margin-right: auto;
     text-align: center;
     color: yellowgreen;
     font-size: 20pt;
     background-color: #1f1f1f;
     padding: 1%;
 }

 #subtitle {
     padding-bottom: 1%;
 }

.errorMsg {
     color: red;
 }

h3 {
     color: yellowgreen;
 }

#nav {
     background-color: forestgreen;
 }

 .button1 {
    background-color: forestgreen;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

    .button1:hover {
        background-color: white;
        color: black;
    }




    